/* # Base
   typography */

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.42857143;
	color: #333;
	font-size: 1em;
	margin: 0;
}

/* # Components
   nav
   buttons
   forms */

.nav {
	display: none;
}

.btn {
	border-radius: 5px;
	text-align: center;
	padding: 3.5% 10.5%;
	font-size: 1.286em;
	border: none;
	color: #fff;
}

.btn-green {
	background: #449D44;
}

.btn-blue {
	background: #31B0D5;
}

.btn-red {
	background: #C9302C;
}

.btn-grey {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 10px;
	color: #666;
}

.btn-darkgrey {
	background: #262628;
	border-radius: 10px;
	border: 1px solid #fff;
	margin-top: 10%;
}

.form {
	background: rgba(242, 242, 242, 0.4);
	color: #000;
	border: none;
	display: block;
	width: 97%;
	font-size: 1em;
	border-radius: 4px;
	font-family: inherit; /* need this because form elements don't inherit FF unless you tell them*/
	margin-bottom: 5%;
	padding-left: 3%;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
}

.f-text {
	padding-bottom: 25%;
}

::-webkit-input-placeholder {
    color: #000;
}

/* # Modules
   sections
   header
   footer */

/* header */
.header {
	background-image: url("../assets/imgs/bg-1.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	height: 50vh;
}

.header .title {
	font-size: 3.929em;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 2px 2px #000;
	font-weight: 500;
	line-height: 1.1;
	margin: 0;
}

.header .subtitle {
	color: #fff;
	font-size: 1.786em;
	text-shadow: 1px 1px #333;
	font-weight: 500;
	line-height: 1.1;
	margin-top: 4%;
	margin-bottom: 4%;
}

.hgroup {
	padding: 23% 5%;
}

/* sections */

/*set-up*/
.cols {
	margin: 20% 5%;

}

.col {
	background: #F2F2F2;
	text-align: center;
}

.sm-title {
	color: #666;
	font-size: 1.429em;
	font-weight: 700;
	line-height: 1.1;
}

.lorem-text {
	padding-right: 7%;
	padding-left: 7%;
	padding-bottom: 12%;
	margin-bottom: 0;
	line-height: 1.6em;
	font-size: 0.875em;
}

.three-cols img {
	width: 100%;
}

.col-3 {
	margin-top: 5%;
	padding-bottom: 10%;
}

.col a {
	text-decoration: none;
}

/* first section */
.green-text {
	color: #178A27;
}

.blue-text {
	color: #31B0D5;
}

/*second section*/
.two-cols img {
	width: 100%;
}

.col-2 {
	margin-bottom: 5%;
	padding-bottom: 5%;
}

/*services section*/
.services-banner {
	background-image: url("../assets/imgs/bg-2.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: #fff;
}

.services-banner .title {
	text-shadow: 2px 2px #aaa;
	margin-bottom: 6.7%;
	font-size: 2.250em;
	font-weight: 500;
	line-height: 1.1;
}

.services-banner .lorem-text {
	font-size: 1.125em;
}

.sb-text {
	padding: 5% 2%;
}

/*fourth section*/
.col-1 img {
	width: 100%;
}

.four-cols {
	text-align: center;
	margin-left: 9%;
	margin-right: 9%;
}

.col-4 {
	margin-bottom: 5%;
	padding-bottom: 10%;
}

.col-4 .lorem-text {
	text-align: left;
}

.col-1 {
	text-align: left;
	padding-bottom: 7%;
}

.col-1 .sm-title {
	padding-left: 7%;
	padding-top: 10%;
}

.col-1 .btn {
	margin-left: 7%;
}

/*contact section*/
.contact {
	background-image: url("../assets/imgs/bg-3.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.contact-container {
	padding: 25% 5% 19%;
}

.contact .title {
	color: #fff;
	text-shadow: 2px 2px #333;
	font-size: 2.250em;
	text-align: center;
	font-weight: 500;
}

.contact .lorem-text {
	background: rgba(242, 242, 242, 0.4);
	border-radius: 5px;
	font-size: 1em;
	margin-bottom: 7%;
	padding: 7% 5.2%;
	text-align: center;
}

/*footer*/
.footer {
	text-align: center;
}

.footer .title {
	color: #666;
	font-size: 2em;
	font-style: italic;
	margin-bottom: 8%;
	margin-top: 11%;
	font-weight: 500;
}

.footer .lorem-text {
	color: #999;
	font-style: italic;
	margin-bottom: 9.5%;
}

hr {
	border: 0;
	border-top: 1px solid #eee;
	margin-bottom: 6.3%;
}

.copy {
	color: #666;
	font-size: 0.750em;
	margin-bottom: 30px;
	margin-top: 10px;
}

.copy a {
	text-decoration: none;
}

@media (min-width: 600px){
	/* # Components
   nav
   buttons
   forms */

   .btn {
   	padding: 2% 5.5%;
   }

   .form {
   	width: 95.6%;
   	margin-bottom: 2.8%;
   	padding: 1.1% 2.2%;
   }

   .f-text{
   	padding-bottom: 13%;
   } 

   /* # Modules
   sections
   header
   footer */

   /*header*/
   .header {
   	height: 75vh;
   }

   .header .title {
   	font-size: 4.375em;
   }

   .header .subtitle {
   	font-size: 1.563em;
   	margin-top: 2%;
   }

   .hgroup {
   	padding: 24% 5% 18%;
   }

   /*sections*/
   /*set-up*/
   .sm-title {
   	font-size: 1.250em;
   }

   .lorem-text {
   	padding-bottom: 9.7%;
   }

   /*section 1*/
   .three-cols {
   	margin: 11.5% 20%;
   }

   .col-3 {
   	margin-top: 8.4%;
   }

   /*section 2*/ 

   .two-cols {
   	margin: 15% 3.8%;
   }

   .col-2 .lorem-text {
   	padding-bottom: 2.5%;
   }

   /*section 3*/
   .four-cols {
   	margin: 10% 0 0;
   }

   .col-4 {
   	display: inline-block;
   	width: 43.5%;
   	vertical-align: top;
   	margin: 0 3% 5%;
   	padding-bottom: 3%;
   }

   /*section 4*/
   .col-1 {
   	margin: 0 2.5% 5%;
   	padding-bottom: 3%;
   }

   .col-1 .sm-title {
   	padding-left: 5%;
   	padding-top: 5%;
   }

   .col-1 .lorem-text {
   	padding-left: 5%;
   	padding-bottom: 5%;
   }

   .col-1 .btn {
   	margin-left: 5%;
   }

   /*contact*/
   .contact-container {
   	padding: 13.4% 2.5% 10%;
   }

   .contact .lorem-text {
   	padding: 3.5% 2.6%;
   	margin-bottom: 3.5%;
   }

   .btn-darkgrey {
   	margin-top: 3.5%;
   }

   /*footer*/
   .footer .title {
   	margin-bottom: 4.2%;
   	margin-top: 5.8%;
   }

   .footer .lorem-text {
   	margin-bottom: 5%;
   	padding-bottom: 0;
   }

   hr {
   	margin-bottom: 3.4%;
   }
}